#tm-cart-text{
	width: 100%;
	padding-bottom: 15px;
	padding-top: 5px;
}

#tm-cartheader-container{
	width:100%;
	height: 30px;
	border:#CCCCCC 1px solid;
	background-color:#e8e8e8;
}	

#tm-cartheader-container-qty{
	width:10%;
	height: 30px;
	line-height:30px;
	text-align:center;
	font-weight:bold;
	float:left;
}	

#tm-cartheader-container-event{
	width:58%;
	height: 30px;
	line-height:30px;
	text-align:center;
	font-weight:bold;
	border-left:#CCCCCC 1px solid;
	float:left;
}

#tm-cartheader-container-price{
	width:15%;
	height: 30px;
	line-height:30px;
	text-align:center;
	font-weight:bold;
	border-left:#CCCCCC 1px solid;
	float:left;
}	

#tm-cart-container{
	width:100%;
	height: 30px;
	border-left:#CCCCCC 1px solid;
	border-right:#CCCCCC 1px solid;
	border-bottom:#CCCCCC 1px solid;
}	

.tm-cart-container{
	width:100%;
	height: 60px;
	border-left:#CCCCCC 1px solid;
	border-right:#CCCCCC 1px solid;
	border-bottom:#CCCCCC 1px solid;
}	

.tm-total-container{
	width:100%;
	height: 10px;
}

#tm-cart-total-text{
	width:68%;
	height: 30px;
	line-height:30px;
	text-align:right;
	font-weight:bold;
	float:left;
}

#tm-cart-qty{
	width:10%;
	height: 59px;
	line-height:30px;
	text-align:center;
	float:left;
}	

#tm-cart-event{
	width:56.7%;
	height: 56px;
	text-align:left;
	padding-left: 9px;
	padding-top: 5px;
	border-left:#CCCCCC 1px solid;
	float:left;
}

.tm-cart-price{
	width:100%;
	padding-top: 5px;
	line-height:30px;
	text-align:center;
}

.tm-cart-total-price{
	width:18%;
	height: 46px;
	line-height:30px;
	text-align:center;
	font-weight:bold;
	float:left;
}

.failed, .soldout, .lowamount{
	margin: 8px;
	border-top:#d70500 2px solid;
	border-bottom:#d70500 2px solid;
	height:25px;
	line-height:25px;
	padding-left: 25px;
	font-weight:bold;
	background-image:url(../images/cross-icon.png);
	background-repeat:no-repeat;	
}