#tm_container{
	width: 100%;
	padding-top: 10px;
}

#tm_label_username{
	width: 25%;
	height: 35px;
	float:left;
	line-height:25px;
	padding-left:5px;
	padding-top: 5px;
}

#tm_label, tm_input{
	width: 25%;
	height: 35px;
	float:left;
	line-height:25px;
	padding-left:5px;
	padding-top: 5px;
}

#ticketmaster_detail_items{
	width: 100%;
	border-color:#bab9b9;
	padding-left:5px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding
}

#ticketmaster_detail{
	width: 650px;
	height: 20px;
	margin-top: 4px;
	line-height:20px;
	float:left;
}

#ticketmaster_detail_name{
	width: 160px;
	height: 20px;	
	margin-top: 2px;
	float:left;
	position:absolute;
}

#ticketmaster_detail_specs{
	width: 100%;
	height: 30px;	
	margin-left:180px;
	padding-top: 10px;
	float:rigth;
}

h3.acc_trigger {
	padding-left: 29px;	
	margin: 0 0 5px 0;
	background-image:url(../images/checkout-jquery-slider-background.png);
	background-repeat:no-repeat;
	height: 30px;	
	line-height: 26px;
	width: 100%;
	font-weight: normal;
	float: left;
}

h2.acc_trigger a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 0 0 0 30px;
}

h2.acc_trigger a:hover {
	color: #ccc;
}

h3.active {
	background-position: left bottom;
}

.acc_container {
	margin: 0 0 0px; 
	padding: 0;
	overflow: hidden;
	width: 100%;
	clear: both;
	background: #fff;
	border: 1px solid #fff;
}
.acc_container .block {
	padding-top: 10px;
	padding-left: 30px;
}
