#ticketmaster_detail{
	width: 100%;
}

#ticketmaster_detail_name{
	width: 100%;
	height: 25px;	
	margin-top: 2px;
	line-height:25px;
	float:left;
}

#ticketmaster_detail_specs{
	width: 100%;
	height: 20px;	
	padding-bottom: 0px;
	float:left;
}
